.big-title{
    background-color: green;
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.main-function{
    background-color: rgb(194, 194, 194);
    float: left;
    width: 20%;
    height: 450px;
    
}

.main-function ul li a{
    color: black;
    height: 42px;
    line-height: 42px;
    text-align: left;
}

.main-function ul li a:hover{
    color:blue;
}

.table{
    background-color: honeydew;
    float: right;
    width: 80%;
   
   
}