<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图书管理系统</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/library.css">
    <style>
        .search{
            background-color: gray;
        }
        label{
            margin-left: 40px;
        }
        button{
            margin-left: 40px;
        }
        td,th{
            width: 150px;
        }
        .searchbook{
            height: 40px;
            line-height: 40px;
        }
    </style>
</head>
<body>
    <div class="big-title">
        <h1>图书管理系统</h1>
    </div>
    <div class="main-function">
        <ul>
            <li class="search"><a href="search.html">查询图书</a></li>
            <li><a href="add.html">添加图书</a></li>
            <li><a href="update.html">修改图书信息</a></li>
            <li><a href="delete.html">删除图书</a></li>
            <li><a href="library.html">返回首页</a></li>
        </ul>
    </div>
    <div class="table" id="searchbooks">
        <div class="searchbook">
            <label>书名</label>
            <input type="text" v-model="book_name">
            <label>编号</label>
            <input type="text" v-model="book_id">
            <label>类别</label>
            <input type="text" v-model="book_category">
            <button value="搜索结果" v-on:click="search_result">查询</button>
        </div>
        <div>
            <table border="1">
                <tr>
                    <th>编号</th>
                    <th>书名</th>
                    <th>类别</th>
                    <th>总数</th>
                    <th>库存数</th>
                    <th>所属组织</th>
                    <th>位置</th>
                </tr>
                <tr v-for="info in bookinfos">
                    <td>{{info.id}}</td>
                    <td>{{info.name}}</td>
                    <td>{{info.category}}</td>
                    <td>{{info.number}}</td>
                    <td>{{info.stockNum}}</td>
                    <td>{{info.organization}}</td>
                    <td>{{info.location}}</td>
                </tr>
            </table>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var baseURL="https://ea3c05aa-ec5b-41d8-9a64-64ff20721e84.mock.pstmn.io";
        var searchbooks = new Vue({
            el:'#searchbooks',
            data:{
                book_name:'',
                book_id:'',
                book_category:'',
                bookinfos:[],
                bookinfo:[]
            },
            mounted:function(){
                this.getBookinfo();
            },        
            methods:{
                getBookinfo:function(){
                    var bi=this;
                    axios.get(baseURL+"/book/").then(function(response){
                        if(response.data.code=="200"){
                            bi.bookinfo=response.data.data.records;
                        }
                        
                    },
                    function(err){
                        
                    })
                },
                search_result:function(){
                    var flag=false;
                    this.bookinfos=[];
                    if(this.book_id==''&&this.book_name==''&&this.book_category==''){
                        this.bookinfos=this.bookinfo;
                    }
                    else{
                        for (let i= 0; i< this.bookinfo.length;i++) {
                            if (this.book_name==this.bookinfo[i].name||this.book_id==this.bookinfo[i].id||this.book_category==this.bookinfo[i].category) {
                                this.bookinfos.push(this.bookinfo[i]);
                                flag=true;
                            }
                        }
                        if (flag==false) {
                            alert("该书不存在！");
                        }
                    }                   
                    this.book_name='';
                    this.book_id='';
                    this.book_category='';
                },
                
            },
        })
    </script>

</body>
</html>